* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 5em 20em 0 20em;
    line-height: 1.4;
    color: #333;
}

.header-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2.3px solid black;
}

.header-table td {
    border: 2px solid black;
    padding: 8px;
}

.header-table .empty-td {
    padding: 15px;
}

.main-content h1 {
    margin: 20px 0;
}

.main-content h2 {
    margin: 15px 0;
}

.vessel {
    margin-bottom: 3em;
}

.project-info p {
    padding: 5px;
}

.project-info .label {
    font-weight: bold;
    padding-bottom: 2em;
}

.toc {
    margin: 20px 0;
}

.toc ol.no-dot {
    list-style: none;
    padding-left: 0;
    counter-reset: num;
}

.toc ol.no-dot li {
    counter-increment: num;
}

.toc ol.no-dot li::before {
    content: counter(num) "";
    display: inline-block;
    text-align: right;
    margin: 5px 2em 0 0;
}